@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

@import url("https://use.typekit.net/maf7bgn.css");

body {
  margin: 0;
  box-sizing: border-box;
}

#mainwrap {
  min-height: 100%;
  position: relative;
}

.guest-view {
  height: 100%;
  margin: 3%;
  padding-bottom: 50px;
}

.jumbotron-fluid {
  min-height: 450px;
  background-image: url(img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}


button.signing {
  margin-top: 25%;
  padding: 1%;
  background-color: #1d212499 !important;
  border-color: #cec79f !important;
  border-radius: 25px !important;
  padding-right: 5% !important;
  padding-left: 5% !important;
  font-size: 1.5vw !important;
  font-family: oxtail, serif;
  font-weight: 400;
  font-style: italic;
  color: #cec79f;
}

@media (max-width: 992pxpx) {
  .jumbotron-fluid {
    min-height: 300px;
  }
}

@media (max-width: 600px) {
  .jumbotron-fluid {
    min-height: 150px;
    margin-top: 50px;
  }
}

@media (min-width: 993px){
.container {
    margin-left: 5%!important;
  }
}

.popup-content {
  margin: auto;
  border-radius: 15px;
  border: 5px #cec79f solid!important;
  background: rgb(255, 255, 255);
  width: 60%!important;
  padding: 15px!important;
}

button.close {
  outline: none!important;
  color: #61060e;
  }


.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* footer */
footer {
  background: linear-gradient(262deg, rgba(48, 3, 7, 0.9015938395415473) 0%, rgba(106, 21, 28, 0.9044591690544412) 51%, rgba(102, 14, 22, 0.8987285100286533) 100%);
  width: 100%;
  height: 50px;
  padding: 15px;
  bottom: 0;
  position: relative;
  color: white;
}

footer p {
  margin: 0;
  size: 1.5vw;
  font-family: rumba-small, sans-serif;
}

/* nav */
nav {
  font-family: 'Montserrat', sans-serif;
}


input.sign-it {
  font-family: rumba-small, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-style: normal;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  border-radius: 5px;
  min-width: 150px;
  min-height: 50px;
  display: block;
}

input.sign-it[type='submit']:hover {
  cursor: pointer;
  background-color: #61060e;
  color: #cec79f;
  border: #cec79f solid 2px;
}
input.update-it {
  font-family: rumba-small, sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  font-style: normal;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  border-radius: 5px;
  min-width: 100px;
  min-height: 35px;
  float: left;
}

input.update-it[type='submit']:hover {
  cursor: pointer;
  background-color: #61060e;
  color: #cec79f;
  border: #cec79f solid 2px;
}

h4{
  font-family: memoriam-headline-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.allGuest {
  background-color: #ffffffd1;
  border: 5px #cec79f solid;
  border-radius: 10px;
  padding: 1%;
  margin: 1% 10%;
  box-shadow: 0 6px 10px 0 rgba(50 6 13 / 13%);
}
