body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron-fluid {
  min-height: 450px;
  background-image: url(img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 992pxpx) {
  .jumbotron-fluid {
    min-height: 300px;
  }
}

@media (max-width: 600px) {
  .jumbotron-fluid {
    min-height: 150px;
  }
}


.modal {
    position: fixed;
    top: 20%!important;
    left: 30%!important;
    z-index: 1050;
    display: none;
    width: 50%!important;
    height: 50%!important;
    overflow: hidden;
    background: white;
    border: 5px #59B3A5 solid;
    border-radius: 25px;
}



.modal-main {
  position: fixed;
  background: white;
  border: 5px #59B3A5 solid;
  width: 80%;
  border-radius: 25px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* footer form {
  background: var(--midnight-blue);
  border-bottom: 5px var(--teal);
  width: 95%;
  box-shadow: 2px 2px 4px black;
} */
